<% provide(:title, current_physician.first_name + "'s patients") %>

<%= provide :sidebar do %>
    <section>
      <%= render 'shared/patient_info' %>
    </section>
<% end %>



<div>
  <%= render 'visits/index' %> 
</div>